
div{
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    display: inline;
    float: left;
}

img{
    width: 250px;
    height: 250px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li{
    display: inline;
    margin-right: 10px;
}

nav{
    text-align: center;
}