

<div class="text-center mt-5 text-danger">
    <h1>
        Error
    </h1>
    <p>Estamos trabajando para solucionar este Error</p>
    <p>Detalles: 
        <ol>
            {{#each error }}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        
    </p>
</div>