
<div class="container text-center mt-5">
    <h1>
        Login de Usuarios
    </h1>
</div>

<div class="container">
        <form method="post" action="/user/login">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="mínimo de 8 caracteres">
            </div>
            <div class="text-center">
                <button type="reset" class="btn btn-danger w-25">
                    Borrar
                </button>
                <button class="btn btn-success w-25" id="botonEnviar">
                    Login
                </button>
            </div>
            <div class="text-center">
                <h2 class="text-danger">
                    {{ mensaje }}
                </h2>
            </divdla>
            <div class="text-center">
                <a href="/user/register" class="btn btn-warning w-75 mt-4">
                    Registrarse
                </a>
            </div>
        </form>
</div>