

    <nav>
        <a href="/">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/servicios">Servicios</a>
        <a href="/contacto">Contacto</a>
    </nav>


    <footer>
        <p>
            &copy; 2020 - Todos los derechos reservados
        </p>
    </footer>